*{
    padding:0px; 
    margin:0px;
    width:auto;
}

@media screen and (max-width: 1024px) {
  .col{
        width:100% !important;
    }
  }


  .vertical-center {
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    .vertical-center:before {
      height: auto;
      /* Or */
      display: none;
    }
  }